{% extends 'layout.html' %}

{% load 'static %'}
{% block content %}


<section class="section bg ">
    <div class="container">
        <h1 class="title font-weight-bold">งานของฉัน</h1>
        <div class="columns is-multiline is-desktop">
            {% for upload in uploads %}
            <div class="column is-one-quarter">
                <figure class="image is-3by2">
                    <img src="{{upload.image.url}}" alt="Placeholder image">
                </figure>
                <div class="card">
                    <div class="card-content">
                        <div class="media-content">
                            <a href="{{upload.get_url}}">
                                <p class="title is-6">{{upload.name}}</p>
                            </a>
                            <div class="content has-text-right">
                                
                                <a class="button is-small is-primary is-outlined" 
                                href="{% url 'workspaceUpdate' upload.id %}"><i class="fa fa-edit"></i></a>
                                <a class="button is-small is-danger is-outlined"
                                    href="{% url 'workspaceDelete' upload.id %}""><i class=" fa fa-trash"></i></a>
                            
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>
</section>




{% endblock %}