{% extends 'layout-forms.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!--Password Reset Confirm-->
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">ยืนยันการรีเซ็ตรหัสผ่าน</h2>
    <hr>
    <p>ตั้งค่ารหัสผ่านใหม่</p>
    <form method="POST">
       



            <div class="form-group">
                <label for="">รหัสผ่านใหม่</label>
                <input type="email" class="form-control" id="" aria-describedby="emailHelp"
                    placeholder="">
                <ul>
                    <li>รหัสผ่านต้องไม่น้อยกว่า 8 ตัวอักษร แต่ไม่เกิน 25 ตัวอักษร</li>
                    <li>รหัสผ่านของคุณไม่ควรคล้ายกับข้อมูลส่วนบุคคลอื่น ๆ ของคุณมากเกินไป</li>
                    <li>รหัสผ่านของคุณต้องไม่เป็นตัวเลขทั้งหมด</li>
                </ul>

            </div>

            <div class="form-group">
                <label for="">ยืนยันรหัสผ่านใหม่</label>
                <input type="email" class="form-control" id="" aria-describedby="emailHelp"
                    placeholder="">


            </div>

            <div class="form-group">
                <a href="{% url 'password_reset_complete' %}" class="btn btn-primary"> ยืนยัน </a>

            </div>
 
        <!-- {% csrf_token %}
            {{ form|crispy }}                     -->
        <!-- <button class="btn btn-primary" type="submit">Reset password</button> -->
    </form>
</div>

{% endblock %}