{% extends 'layout-forms.html' %}
{% load static %}
{% block content %}


<!--Reset Password-->
<div class="container p-5">
  <h2 class="font-weight-bold mt-3">รีเซ็ทรหัสผ่าน</h2>
  <hr />
  <p>กรุณาใส่อีเมลให้ถูกต้อง เพื่อรีเซ็ตรหัสผ่าน</p>
  <form method="POST">

    <div class="form-group">
      <label for="exampleInputEmail1">อีเมลของคุณ</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
      <small>ตัวอย่าง เช่น example@gmail.com</small>

    </div>
  
      <div class="form-group">
        <a href="{% url 'password_reset_done' %}" class="btn btn-primary"> ยืนยัน </a>

    </div>
  </form>
</div>

{% endblock %}